




/* This is my first proper css file */

body{
    background-color: #F6F6F2;
    margin: auto;
    max-width: 2500px;
    min-width: 320px
}
 
h1{
    color: #388087;
    font-family: 'Raleway', sans-serif;
} 


h3{
    color: #6FB3B8;
    font-family: 'Montserrat', sans-serif;
    font-style: bold;
} 

p{
    color: "black" ;
    font-family: 'Poppins', sans-serif;
    font-style: italic;
    
} 

/*#BADFE7*/

.chart{
    border-width: 10px;
    border-style: solid;
    border-radius: 5px;
    border-color: #BADFE7 ;
    margin: auto ;
    background-color: #BADFE7  ;
    width: 360px
    
}


