




/* This is my first proper css file */

body{
    background-color: #F6F6F2;
    margin: 1080; 
    max-width: 1920;
    min-width: 320px }

 
h1{
    color: #388087;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    font-size: 75px; 
} 

h2{
     color: #708090;
     font-size: 15;
     font-weight; 100px;
     font-family: 'Raleway', sans-serif;
     text-align: center;
} 


h3{
    color: #6FB3B8;
    font-family: 'Montserrat', sans-serif;
    font-style: bold;
    text-align: center;
} 

p{
    color: "black" ;
    font-family: 'Poppins', sans-serif;
    font-style: italic;
    font-weight: 500;
    text-align: center;
    
} 

.bcontainer {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 25px 25px;
  margin-top: 25px;
  border-style: solid;
  border-color: #FFC0CB;
  padding: 25px;
  border-radius: 35px;
}

/*#BADFE7*/

.chart{
    border-width: 10px;
    border-style: solid;
    border-radius: 5px;
    border-color: #BADFE7 ;
    margin: auto ;
    background-color: #BADFE7  ;
    width: 360px;
    justify-content: center;
    align-items: center;
    
}

/* Style the navigation bar */
.navbar {
  width: 100%;
  background-color: #555;
  overflow: auto;
}

/* Navbar links */
.navbar a {
  float: left;
  text-align: center;
  padding: 12px;
  color: white;
  text-decoration: none;
  font-size: 12px;
}

/* Navbar links on mouse-over */
.navbar a:hover {
  background-color: #000;
}

/* Current/active navbar link */
.active {
  background-color: #04AA6D;
}

/* Add responsiveness - will automatically display the navbar vertically instead of horizontally on screens less than 500 pixels */
@media screen and (max-width: 500px) {
  .navbar a {
    float: none;
    display: block;
  }
