



/* This is my first proper css file */

body{
    background-color: #022549;
    margin: auto;
    max-width: 450px
}
 
h1{
    color: #FD5757;
    font-family: 'Poppins', sans-serif;
} 


h3{
    color: #F7FF79;
    font-family: 'Roboto', sans-serif;
    font-style: bold;
} 

p{
    color: white;
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    
} 

.chart{
    border-width: 10px;
    border-style: solid;
    border-radius: 5px;
    border-color: #5a5a5f;
    margin: center;
    background-color: #5a5a5f;
    width: 350px
    
}


